<html>
    <head>
      <title>CIDER - [% page.title %]</title>
      <link rel="stylesheet" href="[% c.uri_for('/static/css/style.css') %]" media="all">
       <script type="text/javascript" src="[% c.uri_for('/static/js/jquery-1.6.2.min.js') %]"></script>
       <script type="text/javascript" src="[% c.uri_for('/static/js/jquery-ui-1.8.16.custom.min.js') %]"></script>
       <script type="text/javascript">var base_uri = "[% c.uri_for('/') %]";</script>
       <script type="text/javascript" src="[% c.uri_for('/static/js/cider.js') %]"></script>
     </head>
     <body>
       <div id="banner">
	 <a href="[% c.uri_for('/') %]"><h1><img src="[% c.uri_for('/static/images/cider-apple-hand.png') %]" width="200px" /></h1></a>
       </div>
      <div id="sidebar">
        [% INCLUDE sidebar.tt %]
      </div>
      <div id="content">
        [% content %]
      </div>
    </body>
</html>
