<option value="title">Title</option>
<option value="number">Number</option>
<option value="accession_number">Accession Number</option>
<option value="notes">Notes</option>
<option value="description">Description</option>
<option value="arrangement">Arrangement</option>
