[% page.title = 'Create location ' _ barcode %]

<h2>[% page.title %]</h2>

<div class="required_message">
     <p>Fields marked with a '*' are required</p>
</div>


[% IF return_uri %]
<div class="alert-message error">
<p>
No location with barcode <strong>[% barcode %]</strong> exists.  Please create
the location below, after which the item <strong>[% title %]</strong>
will be [% action %]d.
</p>
</div>
[% END %]

[% form %]
