[% page.title = 'Create location ' _ barcode %]

<h2>[% page.title %]</h2>

[% IF return_uri %]
<div class="form_error_message">
<p>
No location with barcode <em>[% barcode %]</em> exists.  Please create
the location below, after which the item <em>[% title %]</em>
will be [% action %]d.
</p>
</div>
[% END %]

[% form %]
