<form action="[% c.uri_for_action( c.controller('Object').action_for('delete'), [ object.number ]) %]"><input type="submit" name="delete" class="btn btn-danger" value="Delete" style="float:left;margin-left:20px;"/></form>