[% c.res.content_type = 'text/plain' -%]

[% FOR rc IN rcs -%]
[% rc.name_entry %]
---------------
Is related to:
[% FOR rcr IN rc.record_context_relationships -%]
[% FOR rel IN rcr.related_entity -%]
[% rel.name_entry %]
[% END -%]
[% END -%]
[% END -%]