[% c.res.content_type = 'text/plain' -%]

[% FOR object IN objects -%]
   [% object.type %]
   [% object.title %] : [% object.number %]
   [% "Some arbitrary text to make sure the prototype is updating" %]
   [% FOR prc IN object.primary_record_contexts %]
      [% Dumper(prc) %]
   [% END %]
   -----------------------
[% END -%]