[% page.title = 'Create a new record context' %]

<div class="page-header">
<h2>[% page.title %]</h2>
</div>

<div class="required_message">
     <p>Fields marked with a '*' are required</p>
</div>

[% form %]

</div>