[% page.title = 'Import' %]

<h2>[% page.title %]</h2>

[% IF error %]
<div class="alert alert-error">
[% error %]
</div>
[% ELSIF import_was_successful %]
<div class="alert alert-success">
You have successfully imported "[% file %]".
It created [% created %] and updated [% updated %].
</div>
[% END %]

[% form %]
