/* Bootstrap customizations */

div.form_error_message {
    background: pink;
    padding: 5px;
    margin: 5px 5px 5px 0;
}

.required_message {
    font-size: small;
}

[role=button] {
    cursor: pointer;
}

/* 
Add '*' after the label for required fields. This is an ugly way to 
do this but it will have to work for now.
*/
.constraint_required label:after {
    content: '*';
}

input[type="checkbox"] {
    margin-bottom: 10px;
}

.checkbox-label {
    float:left;
    margin-right: 10px;
}

label {
    font-weight: bold;
}

.error_message {
    color: red;
    font-style: italic;
}

.success_message {
    color: green;
    font-style: italic;
}

.hr-thin {
    margin:10px;
    clear: right;
}

.collapse-icon {
    vertical-align: middle;
    margin-left: 5px;
}

#display-classes {
    margin-bottom: 20px;
}

/* Autocomplete custom styles */

.ui-autocomplete {
    background-color: white;
    border: 1px solid #CCC;
    box-shadow: 0 5px 10px #CCC;
}

.ui-menu-item {
    list-style-type: none;
}

.ui-menu-item a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
}

.ui-menu-item a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    cursor: pointer;
}